html{
    font-family: Helvetica, sans-serif;
}
body {
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 10px ;
    font-size: 40px;
}
.sudoku-board,
.sudoku-solve-btn{
    display: flex;
}
.sudoku-board *{
    display: flex;
}
/* .sudoku-board::before,
.sudoku-board::after{
    content: "";
    background: #303443;
    width: 400px;
    height: 100%;
} */
.sudoku-board{
    margin: 25px auto;
    background-color: #303443;
    width: 550px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.sudoku-solve-btn{
    margin: 0 auto;
}
input{
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: right;
}